{% load wagtailcore_tags periodicals_tags cms_tags %}
<ul class=" medium-horizontal vertical dropdown menu">
  
  {% for page in menu_pages %}
  <li {% if page.active %} class="is-active" {% endif %}><a href="{% pageurl page %}">{{ page.title }}</a></li>
  {% endfor %}

  <li><a href="{% url 'search' %}?{% initial_search_parameters %}">Advanced Search</a></li>

  {% if request.user.is_authenticated %}
  {% if request.user.is_staff %}
  <li><a href="/admin/">Admin Panel</a></li>
  {% endif %}
  <li><a href="/admin/logout/">Logout {{ request.user.first_name }}</a></li>
  {% endif %}
  
</ul>

