django
django-activecollab-digger
django-compressor
django-extensions
django-grappelli
django-haystack
django-kdl-ldap
django-libsass
django-model-utils
django-redis
lxml
psycopg2-binary
pysolr
redis
wagtail