django<2.1
django-activecollab-digger
django-compressor
django-extensions
django-grappelli
django-haystack
django-kdl-ldap
django-libsass
django-model-utils
django-redis
lxml
pyldap<3.0.0
psycopg2-binary
python-ldap<=3.0.0 # 3.1.0 is broken
pysolr
redis
wagtail==2.1