@import 'settings';
@import 'font-awesome';
@import '../vendor/foundation-sites/assets/foundation';
@import '../vendor/motion-ui/motion-ui';



/* Table of Contents */


/**
 *  Globals
 *  Navigation
 *      Sub navigation
 *  Main content
 *      Cards
 *  Accordion
 *  Search
 *  Table of contents
 *  Footer
 *  Media queries
 */


/* Globals */
body,
h1,
h2,
h3 {
    // font-family: 'Neuton', serif;
    // font-family: 'Lusitana', serif;
    font-family: 'Petrona', serif;
}

canvas {
    width: 100%;
}

main {
    margin: rem-calc(20 0);
}

h1.title {
    border-bottom: 1px solid black;
    font-size: rem-calc(18);
    line-height: rem-calc(24);
    margin-top: rem-calc(16);
    text-transform: uppercase;
}

h2 {
    font-size: rem-calc(20);
}

h3 {
    font-size: rem-calc(22);
    font-weight: bold;
    span {
        font-size: rem-calc(16);
        font-weight: normal;
    }
}

.border {
    border: 1px solid $dark-gray;
}

/* Navigation */

nav {
    background: $primary-color;

    .logo {
        float: left;

        h1 {
            font-size: rem-calc(16);
            line-height: rem-calc(36);
            margin: 0;
            text-transform: uppercase;

            a {
                color: white;
            }
        }
    }

    .title-bar {
        background: none;
        padding: 0;
    }

    .top-bar {
        background: $primary-color;
        padding: 0;
        ul {
            background: $primary-color;
            li.active {
                &:before {
                    border: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid $primary-color;
                    content: " ";
                    display: block;
                    pointer-events: none;
                    position: absolute;
                    transform: rotate(0);
                    -webkit-transform: rotate(0);
                    top: 100%;
                }
            }

            a {
                color: white;
                font-size: rem-calc(16);
            }
        }

        h1 {
            font-size: rem-calc(16);
            margin: 0;
            text-transform: uppercase;

            a {
                color: white;
            }
        }
    }
}

/* Sub Navigation */

.menu {
    &.subnav {
        border-bottom: 1px solid gray;

        li {

            &.is-active > a {
                background: none;
                border-bottom: 3px solid $primary-color;
                color: black;
            }
        }
    }
}

ul.menu.align-right > li > a {
    color: black;

    &:hover {
        color: $primary-color;
    }
}

.tabs,
.tabs-content {
    border: none;
}

.tabs-title {
    a{
        font-size: rem-calc(16);
        padding: rem-calc(11 16);
    }
}


/* Main content */

.cell {
    margin: rem-calc(10 0);
    padding-top: rem-calc(10);
}

.form {
    ul {
        list-style: none;
    }
}

.headings {
    .cell {
        font-weight: 700;
    }
}

.results-list {
    .cell {
        border-top: 1px solid $light-gray;
        margin: rem-calc(10 0);
        padding-top: rem-calc(10);
    }
}

// Card
.card {

    position: relative;
    height: 100%;
    text-align: center;

    &:hover {
        border: 1px solid $primary-color;

        .card-section {
            background: $primary-color;
            h3 {
                color: white;
            }
            .card-footer {
                border-top: 1px solid $light-gray;
                color: $light-gray;
            }
            &.overlay {
                background: $primary-color;
            }
        }
    }

    .card-divider {
        display: block;
        color: black;
        background: none;

        img {
            display: block;
            margin: 0 auto;
            width: 80%;
        }

        h2 {
            font-size: rem-calc(24);
            font-variant: small-caps;
            font-weight: bold;
        }
    }

    .card-section {
        margin: rem-calc(16 0 0);

        h3 {
            color: black;
            font-size: rem-calc(20);
            font-weight: normal;
        }

        .card-footer {
            border-top: 1px solid gray;
            color: gray;
            margin-top: rem-calc(16);
            padding-top: rem-calc(16);
        }

        &.overlay {
            color: white;
            background: rgba(0, 0, 0, 0.7);
            bottom: 0;
            position: absolute;
            text-align: center;
            width: 100%;

            h3 {
                color: white;
                font-weight: bold;
                &.small-caps{
                   font-variant: small-caps; 
                }
            }

            .card-footer {
                border-top: 1px solid white;
                color: $light-gray;
            }
        }
    }
}

.pagination,
.page-controls {
    text-align: center;
}

/* Accordion */

.accordion-item:first-child > :first-child {
    background: $primary-color;
    border: none;
    color: white;
    padding: rem-calc(16);
    width: rem-calc(100);

    &:hover {
        background: darken($primary-color, 10%);
        color: white;
    }
}

.accordion-title {
    border: none;
    color: black;
    font-size: rem-calc(16);
    padding: 0;
    padding-top: rem-calc(20);
}

.is-active > .accordion-title {

    &::before {
        color: white;
    }

    &:hover {
        background: none;
        color: black;
    }
}

.accordion-content {
    border: none;
    padding-left: 0;

    ul {
        margin-left: 0;
        list-style-type: none;
    }
    
    .cell {
        padding: 0;
    }
}

/* Search form */

section {
    &.search {
        form {
            padding: rem-calc(16);
            background: $light-gray;
        }
    }
}

/* Table of contents */

tbody {
    border: none;
}

td {
    &.float-left {
        float: none!important;
    }

    &.paragraph {
        width: 50%;
    }
}

/* Footer */

footer {
    background: $primary-color;
    color: $white;
    font-size: rem-calc(14);
    padding: rem-calc(20 0);

    a {
        color: $warning-color;
        font-weight: 700;
    }

    img {
        max-width: rem-calc(60);
    }
}


/* Media queries */

@media screen and (max-width: 1024px) {

    /* Table of Contents */

    td {
        .float-left {
            float: left;
        
            &:before {
                content: "Page ";
            }

            &:after {
                content: ", ";
            }
        }
        
        &.paragraph {
            width: 100%;
        }
    }

    tbody th,
    tbody td {
        padding: rem-calc(0 7);
    }

    tr {
        padding: rem-calc(7 0);
    }
}