@import 'settings';
@import 'font-awesome';
@import '../vendor/foundation-sites/assets/foundation';
@import '../vendor/motion-ui/motion-ui';

/* Table of Contents */

/**
 *  Globals
 *  Navigation
 *  Hero
 *  Main content
 *  Footer
 */

/* Globals */

canvas {
    width: 100%;
}

main {
    margin: rem-calc(20 0);
}

/* Navigation */

nav {
    background: $light-gray;
}

/* Hero */

.hero {
    background: $primary-color;
    color: $white;

    h1 {
        line-height: .75;
        padding: rem-calc(20 0);
    }

    small {
        font-size: rem-calc(24);
    }
}

/* Main content */

.form {
    ul {
        list-style: none;
    }
}

.headings {
    .cell {
        font-weight: 700;
    }
}

.results-list {
    .cell {
        border-top: 1px solid $light-gray;
        margin: rem-calc(10 0);
        padding-top: rem-calc(10);
    }
}

/* NOT SURE WHAT THIS IS SUPPOSED TO DO (Coming from Bulma?) */
.article-header {
    @extend .title !optional;
}

.article-content {
    @extend .content !optional;
}
/***/

// Equal height blocks
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-footer {
    margin-top: auto;
}

.tabs-container {
    .section {
        display: none;

        &.is-active {
            display: block;
        }
    }
}

/* Footer */

footer {
    background: $primary-color;
    color: $white;
    font-size: rem-calc(14);
    padding: rem-calc(20 0);
    
    a {
        color: $warning-color;
        font-weight: 700;
    }

    img {
        max-width: rem-calc(60);
    }
}