@import 'settings';
@import 'font-awesome';
@import '../vendor/foundation-sites/assets/foundation';
@import '../vendor/motion-ui/motion-ui';


/* Table of Contents */


/**
 *  Globals
 *  Navigation
 *  Main content
 *  Footer
 */


/* Globals */

canvas {
    width: 100%;
}

main {
    margin: rem-calc(20 0);
}


/* Navigation */

nav {
    background: $primary-color;

    .top-bar {
        background: $primary-color;
        padding: 0;
        ul {
            background: $primary-color;
            li.active {
                &:before {
                    border: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid $primary-color;
                    content: " ";
                    display: block;
                    pointer-events: none;
                    position: absolute;
                    transform: rotate(0);
                    -webkit-transform: rotate(0);
                    top: 100%;
                }
            }
            a {
                color: white;
            }
        }
        h1 {
            font-size: 1rem;
            text-transform: uppercase;
            margin: 0;
            a {
                color: white;
            }
        }
    }
}

/* Search form */

section{
    &.search{
       form{
         padding: 1rem;
         background:#f1f1f1;
       } 
    }
}

/* Title/Breadcrumbs */

section {
    h1.title {
        border-bottom: 1px solid black;
        font-size: 1rem;
        margin-top: 1rem;
        text-transform: uppercase;
    }
}

/* Sub Navigation */
.tabs{
    border:none;
}
.menu{
    &.subnav{
    border-bottom: 1px solid gray;
    li{
        &.is-active>a{
        background: none;
        color: black; 
        border-bottom: 3px solid $primary-color;
    }
    }
    }
    
 }   




/* Main content */
.cell {
        margin: rem-calc(10 0);
        padding-top: rem-calc(10);
     h3.title{
        span{
            font-size: 1rem;
        }
     }   
    }

.form {
    ul {
        list-style: none;
    }
}

.headings {
    .cell {
        font-weight: 700;
    }
}

.results-list {
    .cell {
        border-top: 1px solid $light-gray;
        margin: rem-calc(10 0);
        padding-top: rem-calc(10);
    }
}


/* NOT SURE WHAT THIS IS SUPPOSED TO DO (Coming from Bulma?) */

.article-header {
    @extend .title !optional;
}

.article-content {
    @extend .content !optional;
}


/***/

// Equal height blocks
.card {
    position: relative;
    height: 100%;
    text-align: center;
    &:hover{
        border:1px solid $primary-color;
    }
    .card-divider {
        display: block;
        color:black;
        background: none;
        img {
            display: block;
            margin: 0 auto;
            width: 80%;
        }
        h2{
            font-size:1.5rem;
            //&:hover{
            //opacity:0.7;
            //}
        }
    }
    .card-image{
        height: 300px;
        object-fit:cover;
        //&:before{
          //  content: "";
//display: block;
//padding: 1%;
  //      }
    }
    .card-section{
        h3{
            font-size:1.2rem;
            color: black;
            //&:hover{
            //opacity:0.7;
            //}
        }
         .card-footer {
            border-top: 1px solid gray;
            color: gray;
            margin-top:1rem;
            padding-top: 1rem;
        }
        &.overlay{
            color:white;
            background: rgba(0,0,0,0.7);
            bottom:0;
            position: absolute;
            text-align: center;
            width:100%;
            h3{
                color:white;
            }
            .card-footer {
                border-top: 1px solid white;
                color: white;
            }
        }
    }
}



.tabs-container {
    .section {
        display: none;

        &.is-active {
            display: block;
        }
    }
}


/* Footer */

footer {
    background: $primary-color;
    color: $white;
    font-size: rem-calc(14);
    padding: rem-calc(20 0);

    a {
        color: $warning-color;
        font-weight: 700;
    }

    img {
        max-width: rem-calc(60);
    }
}