
<li><a href="/">Home</a></li>

{% if publication %}
<li><a href="{% url 'publication-list' %}">Browse Facsimiles</a></li>
<li>{{ publication }}</li>
{% endif %}

{% if issue %}
{% with publication=issue.publication%}
<li><a href="{% url 'publication-list' %}">Browse Facsimiles</a></li>
<li><a href="{{ publication.url }}">{{ publication }}</a></li>
<li>{{ issue.issue_date }}</li>
{% endwith %}
{% endif %}

{% if article %}
{% with page=article.page publication=article.page.issue.publication issue=article.page.issue %}
<li><a href="{% url 'publication-list' %}">Browse Facsimiles</a></li>
<li><a href="{{ publication.url }}">{{ publication }}</a></li>
<li><a href="{{ issue.url }}">{{ issue.issue_date|date:"j N Y" }} , {{ issue.edition_or_component }}</a></li><li><a href="{{ page.url }}">Page {{ page.label }}</a></li>
<li>{{ article }}</li>
{% endwith %}

{% elif page %}
{% with publication=page.issue.publication issue=page.issue%}
<li><a href="{% url 'publication-list' %}">Browse Facsimiles</a></li>
<li><a href="{{ publication.url }}">{{ publication }}</a></li>
<li><a href="{{ issue.url }}">{{ issue.issue_date|date:"j N Y" }} , {{ issue.edition_or_component }}</a></li>
<li>Page {{ page.label }}</li>
{% endwith %}
{% endif %}



