{% load periodicals_tags %}
<ul>
    {% for item in facet_values %}
        {% with key|add:":"|add:item.0 as  selected_key %}
            <li{% if selected_key in selected_facets %}
                class="is-active"{% endif %}>
            {% if selected_key in selected_facets %}
                {% get_request_parameters exclude="selected_facets" as facet_params %}
                {% get_selected_facets exclude=selected_key as facets_excluded %}
                <a href="{% url 'search' %}?{{ facet_params }}{% if facets_excluded %}{% for facet in facets_excluded %}&selected_facets={{ facet }}{% endfor %}{% endif %}">{{ item.0 }} <span>({{ item.1 }}) &nbsp; </span> 
                    <i class="fa fa-times-circle" aria-hidden="true"></i></a>
            {% else %}
                <a href="?{{ form.data.urlencode }}&amp;selected_facets={{ key }}:{{ item.0|urlencode }}">{{ item.0 }} 
                    <span>({{ item.1 }}) </span></a>
            {% endif %}
        {% endwith %}
    </li>
    {% endfor %}

</ul>