{% load humanize periodicals_tags %}

<div class="card">
    <a href="{{ issue.url }}">
        <div class="card-image">
            <img src="{% thumbnail issue.pages.all.0.image.url %}" alt="{{ publication }}">
        </div>
        <div class="card-section overlay">
            <h3 class="small-caps">{{ issue.issue_date|date:"N Y" }}</h3>
            {% if issue.edition and issue.edition != '1' %}
            <h3 class="small-caps">{{ issue.edition | ordinal }} edition</h3>
            {% endif %}
            {% if issue.component %}
            <h3 class="small-caps">{{ issue.component }}</h3>
            {% endif %}
           



             <div class="card-footer">
                {{ issue.article_count }} Item{{ issue.article_count|pluralize }}, {{ issue.number_of_pages }} Pages
            </div>


        </div>
    </a>
</div>