{% load periodicals_tags %}
<div class="row small-up-2 medium-up-3 large-up-3" data-equalizer="cards" data-equalize-by-row="true" data-equalize-on="medium">
    {% for issue in issues %}
    <div class="column column-block" data-equalizer-watch="cards">
        <div class="card">
            <a href="{{ issue.url }}">
                <div class="card-image">
                    <img src="{% thumbnail issue.pages.all.0.image.url %}" alt="{{ publication }}">
                </div>
                <div class="card-section overlay">
                    <h3 class="small-caps">{{ publication }}</h3>
                    <h3 class="small-caps">{{ issue.issue_date }}</h3>
                    <div class="card-footer">
                        {{ issue.articles.count }} Articles, {{ issue.pages.count }} Pages
                    </div>
                </div>
            </a>
            {% if request.user.is_staff %}
            <div class="card-divider">
                <a href="/admin/periodicals/issue/{{ issue.id }}/change/" class="card-footer-item">Edit</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>