{% load humanize periodicals_tags %}

 
 {% for item in items %}     
 {% with item_url=item.url %}
    <div class="medium-2 columns">
        <a href="{{ item_url }}">Page {{ item.page.number }}</a>
    </div>
    <div class="medium-10 columns">
        {% if item.title_image %}
        <a href="{{ item_url }}">
                <img class="border" src="{% thumbnail item.title_image.url %}" alt="{{ item.title }}">
        </a>
        {% endif %}
        <p>
            <a href="{{ item_url }}">
                {% if item.title %}{{ item.title }}{% else %}Untitled{% endif %}
            </a>
        </p>
        </a>
    </div>
    {% endwith %}
{% endfor %}






<!--<table class="stack unstriped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Page</th>
        </tr>
    </thead>
    <tbody>

        {% for item in items %}
        <tr>

            {% with item_url=item.url %}

            <td class="title">
                <a href="{{ item_url }}">{% if item.title %}{{ item.title }}{% else %}Untitled{% endif %}</a>
            </td>
            <td class="fixed add-page">
                <a href="{{ item_url }}">{{ item.page.number }}</a>
            </td>

            {% endwith %}

        </tr>
        {% endfor %}
    </tbody>
</table>-->