<div class="callout ocr-warning" data-closable>
    <p>
        <strong>Note:</strong> This text has been automatically extracted via Optical Character Recognition (OCR) software. The text has not been manually corrected and should not be relied on to be an accurate representation of the item.
    </p>

    {% if alignment %}
    <p>Additionally, when viewing full transcripts, extracted text may not be in the same order as the original document.</p>
    {% endif %}
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <i aria-hidden="true" class="fa fa-times-circle"></i>
    </button>
</div>