{% with publication=page.issue.publication issue=page.issue%}
<ul class="pagination text-center" role="navigation" aria-label="Pagination">
    <li class="{% if page.previous_page %}pagination-previous{% else %}pagination-previous disabled{% endif %}">
        {% if page.previous_page %}
            <a href="{{ page.previous_page.url }}" aria-label="Previous page">
        {% endif %}
        Prev <span class="show-for-sr">page</span>
        {% if page.previous_page %}
            </a> {% endif %}
    </li>
    {% for issue_page in page.issue.pages.all %}
        {% if page.id == issue_page.id %}
            <li class="current"><span class="show-for-sr">You're on page</span> {{ page.number }}</li>
        {% else %}
            <li><a href="{% url 'page-detail' publication_slug=publication.slug issue_slug=issue.slug number=issue_page.number%}" aria-label="Page {{ issue_page.number }}">{{ issue_page.number }}</a></li>
        {% endif %}
    {% endfor %}


    <li class="ellipsis"></li>

    <li class="{% if page.next_page %}pagination-next{% else %}pagination-next disabled{% endif %}">
        {% if page.next_page %}
            <a href="{{ page.next_page.url }}" aria-label="Next page">
        {% endif %}
        Next <span class="show-for-sr">page</span>
        {% if page.next_page %}
            </a> {% endif %}
    </li>
</ul>
{% endwith %}