<table class="stack unstriped">
    <thead>
        <tr>
            <th>Publication image</th>
            <th>Publication title</th>
            <th>Year range</th>
            <th>Stats</th>
        </tr>
    </thead>
    <tbody>
        {% for publication in publications %}
        <tr>
        
            <td class="title">
                <a href="{{ publication.url }}">
                    <!-- BM - Please add img tag  -->
                    <img src="http://www.ncse.ac.uk/headnotes/Assets/p/23/i/ns_on.png">
                </a>
            </td>
            <td class="title">
                <a href="{{ publication.url }}">
                    {{ publication }}
                </a>
            </td>                             
            <td class="title">
                <a href="{{ publication.url }}">
                {% with year_span=publication.get_year_span %}
                        {{ year_span.0 }} to {{ year_span.1 }}
                        {% endwith %}
                        {% with number_of_years=publication.get_number_of_years %}
                </a>
            </td>
            <td class="title">
                <a href="{{ publication.url }}">
               
                <span style="color:#777; font-size:0.85rem;">( {{ number_of_years }} Year{{ number_of_years|pluralize }}
                        {% endwith %}, {% with issue_count=publication.issues.count %}
                            {{ issue_count }} Issue{{ issue_count|pluralize }}
                            {% endwith %})</span>
                </a>
            </td>
        </tr>
        {% if request.user.is_staff %}
                        <div class="card-divider">
                    <a href="/admin/periodicals/publication/{{ publication.id }}/change/" class="card-footer-item">Edit</a>
                </div>
        {% endif %}
        {% endfor %}
    </tbody>
</table>