<table class="stack unstriped">
    <thead>
        <tr>
            <th>Item</th>
            <th colspan="2">Page</th>
        </tr>
    </thead>
    <tbody>
        {% regroup issue.items by page as page_list %}

        {% for page in page_list %}
        {% for article in page.list %}
        <tr>
            <td class="title">
                <a href="{% url 'article-detail' publication_slug=page.grouper.issue.publication.slug issue_slug=page.grouper.issue.slug number=page.grouper.number article_slug=article.slug%}">{% if article.title %}{{ article.title }}{% else %}Untitled{% endif %}</a>
            </td>
            <td class="fixed add-page">
                <a href="{% url 'article-detail' publication_slug=page.grouper.issue.publication.slug issue_slug=page.grouper.issue.slug number=page.grouper.number article_slug=article.slug%}">{{ page.grouper.number }}</a>
            </td>
            <td class="fixed add-comma">
                {% if article.article_type.title != 'Article' %}
                <a href="{% url 'article-detail' publication_slug=page.grouper.issue.publication.slug issue_slug=page.grouper.issue.slug number=page.grouper.number article_slug=article.slug%}">{{ article.article_type }}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>