{% load staticfiles %}

<div class="vis{% if class %} {{class }}{% endif %}" data-slug="{{publication.slug}}" {% if width %} data-width="{{ width }}"{% endif %} {% if height %} data-height="{{ height }}"{% endif %} {% if start %}data-start="{{start}}"{% endif %} {% if end %} data-end="{{ end }}" {% endif %}>
  <div class="wrapper">
    <div class="publication">
    
      <img src="{% static 'media' %}/{{ publication.title_image }}" alt="{{ publication.title }}" />
      <h1>{{ publication }}</h1>
    </div>

    <div class="cards">
      {% if show_info %}
      <div class="listen-wrap">
        <ul>
          <li>
            <span class="count">{{ publication.get_number_of_years }}</span>
            <span>Years</span>
          </li>
          <li>
            <span class="count">{{ publication.primary_issue_count }}</span>
            <span>Issues</span>
          </li>
          <li>
            <span class="count">{{ publication.article_count }}</span>
            <span>Items</span>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}

    <div class="chart-wrapper chart-bar">
      <ul class="vbroadcast-legend">
        <li class="article">Text</li>
        <li class="ad">Ad</li>
        <li class="picture">Picture</li>
      </ul>
    </div>
  </div>
</div>