{% load staticfiles %}
<ul>
    <li>
        <div class="logo">
            <img src="{% static 'images/acc_mus.png' %}" alt="Accredited Museum"> 
            <img src="{% static 'images/doc.png' %}" alt="Designated Outstanding Collection">
        </div>
    </li>
    <li>
        <p>
          LIBRARY AND MUSEUM CHARITABLE TRUST OF THE UNITED GRAND LODGE OF ENGLAND
          REGISTERED CHARITY NUMBER 1058497 / ALL RIGHTS RESERVED © {% now "Y" %}
        </p>
    </li>
    <li>
        <p>
            Designed and developed by <a href="//www.kdl.kcl.ac.uk/" title="King's Digital Lab"><strong>King's Digital Lab</strong></a>
        </p>
    </li>
</ul>
