{% load periodicals_tags cms_tags %}
{% load staticfiles %}
{% block main_menu %}

<div class="navwrapper">
  <div class="logo">
    <h1><a href="/">Masonic Periodicals Online</a></h1>
    <a href="http://freemasonry.london.museum">
         <img src="{% static 'images/LMF_logo.png' %}" alt="The Library and Museum of Freemasonry">
    </a>
   
  </div>

  <input type="checkbox" id="menu-toggle">

  <label for="menu-toggle" class="label-toggle">  
    <span class="menu-text">Menu</span>
    <span></span>
    <span></span>
    <span></span>
  </label> 
    
  {% get_site_root as site_root %}
  {% main_menu root=site_root current_page=self %}
</div>
{% endblock %}
