{% extends 'base.html' %}

{% block title %}{% if article.title %}{{ article|title }}{% else %}{{ article.aid }}{% endif %} {{ article.issue }}{% endblock %}
{% block meta_title %}{% if article.title %}{{ article|title }}{% else %}{{ article.aid }}{% endif %}{{ article.issue }}{% endblock %}

{% block main %}

<section class="section">
    <div class="container">
        <div class="page-controls">
            {% if article.page.previous_page %}
            <a class="button is-link" href="{{ article.page.previous_page.url }}">Previous Page</a>
            {% endif %}

            {% if article.page.next_page %}
            <a class="button is-link is-pulled-right" href="{{ article.page.next_page.url }}">Next Page</a>
            {% endif %}
        </div>

        <canvas class="pageCanvas" data-image-id="page{{ article.page.number}}" width="{{ article.page.width }}" height="{{ article.page.height }}">
            <!-- Fallback for non-canvas supporting devices -->
            <img id="page{{ article.page.number}}" src="{{ article.page.image.url }}">
        </canvas>

        <div class="page-controls">
            {% if article.continuation_from %}
            <a class="button" href="{{ article.continuation_from.url }}">Article continued from Page {{article.continuation_from.page.number}}</a>
            {% endif %}

            {% if article.continuation_to %}
            <a class="button is-pulled-right" href="{{ article.continuation_to.url }}">Article continued on Page {{article.continuation_to.page.number}}</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="columns is-multiline is-centered">
    <div class="column is-half  article" id="{{ article.aid }}">
        {{ article.content_html|safe }}
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
{% if highlight_words  %}
<script>
var highlight_words = {{ highlight_words|safe }};
</script>
{% endif %}
{% if article_bounding_box and article.page.number_of_articles > 1 %}
<script>
var article_bounding_box = {{ article_bounding_box|safe }};
</script>
{% endif %}
{% endblock %}

