{% extends 'base.html' %}

{% block title %}
<h2>{% if article.title %}{{ article.title }}{% else %}{{ article.aid }}{% endif %}
<small>{{ article.issue }}</small>
</h2>
{% endblock %}

{% block main %}
<div>
    <!-- This div is for testing! -->
    <a href="{{ article.issue.url }}">Back to issue</a>

    {% if article.page.previous_page %}
    <a href="{{ article.page.previous_page.url }}">Previous Page</a>
    {% endif %}

    {% if article.page.next_page %}
    <a href="{{ article.page.next_page.url }}">Next Page</a>
    {% endif %}

    <form action='.' method='get'>
        <input name='highlight' placeholder='text to highlight'><input type='submit'>
    </form>
</div>

<div>
    <canvas class="pageCanvas" data-image-id="page{{ article.page.number}}" width="{{ article.page.width }}" height="{{ article.page.height }}">
        <!-- Fallback for non-canvas supporting devices -->
        <img id="page{{ article.page.number}}" src="{{ article.page.image.url }}">
    </canvas>
</div>

<div class="columns is-multiline is-centered">
    <div class="column is-half  article" id="{{ article.aid }}">
        {{ article.content_html|safe }}
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
{% if highlight_words  %}
<script>
var highlight_words = {{ highlight_words|safe }};
</script>
{% endif %}
{% if article_bounding_box and article.page.number_of_articles > 1 %}
<script>
var article_bounding_box = {{ article_bounding_box|safe }};
</script>
{% endif %}
{% endblock %}

