{% extends 'periodicals/base.html' %}
{% load periodicals_tags %}

{% block title %}
{{ issue.publication}}, {{ issue.issue_date }}
{% endblock %}

{% block meta_title %}
{{ issue.publication}}, {{ issue.issue_date }}
{% endblock %}

{% block main %}

<div class="row">
    <div class="small-12 columns minus-margin-top">
         <ul class="menu float-left">
            <li>
                <a href="{% url 'publication-detail' slug=issue.publication.slug %}" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to {{ issue.publication }}</a>
            </li>
        </ul>
        <ul class="menu float-right">
            <li>
                <a href="{{ issue.pdf.url }}" class="button"><i class="fa fa-file-text-o" aria-hidden="true"></i> View PDF</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class="tab_container">
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2" class="float-right">
                <i class="fa fa-th"></i>
                Pages
            </label>   
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1" class="float-right">
                <i class="fa fa-list-ul"></i>
                Table of contents
            </label>

            <section id="content1" class="tab-content">
                <table class="stack unstriped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Page</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% regroup issue.articles_and_ads by page as page_list %}

                        {% for page in page_list %}
                        {% for article in page.list %}
                        <tr>
                            <td class="title">
                                <a href="{% url 'article-detail' publication_slug=page.grouper.issue.publication.slug issue_slug=page.grouper.issue.slug number=page.grouper.number article_slug=article.slug%}">{% if article.title %}{{ article.title }}{% else %}Untitled{% endif %}</a>
                            </td>    
                            <td class="fixed add-comma">
                                <a href="{% url 'article-detail' publication_slug=page.grouper.issue.publication.slug issue_slug=page.grouper.issue.slug number=page.grouper.number article_slug=article.slug%}">{{ article.article_type }}</a>
                            </td>                                                         
                            <td class="fixed add-page">
                                <a href="{% url 'article-detail' publication_slug=page.grouper.issue.publication.slug issue_slug=page.grouper.issue.slug number=page.grouper.number article_slug=article.slug%}">{{ page.grouper.number }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </section>

            <section id="content2" class="tab-content">
                <div class="row medium-up-2 large-up-4 container" data-equalizer="cards" data-equalize-by-row="true" data-equalize-on="medium" id="equal-again">
                    {% for page in issue.pages.all %}
                    <div class="column column-block">
                        <a href="{{ page.url }}">
                            <div class="card" data-equalizer-watch="cards">
                                <div class="card-image">
                                    <img src="{% thumbnail page.image.url %}" alt="Page {{ page.number }}">
                                </div>
                                <div class="card-section overlay">
                                    <h3>Page {{ page.number }}</h3>
                                    <div class="card-footer">
                                        {% if page.number_of_articles == 1 %}
                                        1 Article
                                        {% else %}
                                        {{ page.number_of_articles }} Articles
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}