{% extends 'base.html' %}

{% block title %}{{ issue }}{% endblock %}
{% block meta_title %}{{ issue }}{% endblock %}

{% block main %}




<section class="grid-container">
  <div class="grid-x">
    <div class="cell tabs">
      <ul class="menu subnav" data-magellan>
        <li><a>Contents</a></li>
        <li data-option="pages"><a>Pages</a></li>
        <li class="is-active" data-option="articles"><a>Articles</a></li>
        <li><a>Ads</a></li>
      </ul>
      <ul class="menu align-right">
    <li><a href="{{ issue.pdf.url }}">View PDF</a></li>
    <li><a href="{{ issue.pdf.url }}" download="{{ issue }}">Download PDF</a></li>
</ul>

    </div>
  </div>
</section>



<div class="grid-container tabs-container">
  <section class="section is-active" data-item="articles">
    <div class="gird-x">
      <div class="cell">
        <h3 class="title">Articles</h3>
      </div>
    </div>
    <div class="grid-x grid-padding-x grid-padding-y medium-up-2 large-up-4 container">
      {% for article in issue.articles %}
      <div class="cell">
        <div class="card">
          <div class="card-image">
            <a href="{{ article.url }}"><img src="{{ article.title_image.url }}"></a>
          </div>
          <div class="card-section overlay">
            <h3><a href="{{ article.url }}">{{ article|title }}</a></h3>
            <div class="card-footer">Page {{ article.page.number }}
        </div>
            
          </div>
          {% if request.user.is_staff %}
          <div class="card-divider">
            <a href="/admin/periodicals/article/{{ article.id }}/change/" class="card-footer-item">Edit</a>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="section" data-item="pages">
    <div class="grid-x">
      <div class="cell">
        <h3 class="title">Pages</h3>
      </div>
    </div>
    <div class="grid-x grid-padding-x grid-padding-y medium-up-2 large-up-4 container">
      {% for page in issue.pages.all %}
      <div class="cell">
        <div class="card">
          <div class="card-image">
            <a href="{{page.url}}"><img src="{{ page.image.url }}"></a>
          </div>
          <div class="card-section overlay">
            <h3><a href="{{ page.url }}">Page {{ page.number }}</a></h3>
            <div class="card-footer">{{ page.number_of_articles }} Articles
        </div>
            
          </div>

          {% if request.user.is_staff %}
          <div class="card-divider">
            <a href="/admin/periodicals/page/{{ page.id }}/change/" class="card-footer-item">Edit</a>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}