{% extends 'periodicals/base.html' %}
{% load humanize periodicals_tags %}

{% block title %}
{{ issue.publication}}, {{ issue.issue_date|date:issue.publication.date_format }}, Edition {{issue.edition}} of {{ issue.get_edition_count }}{% if issue.component %}, {{issue.component}}{% endif %}


{% if issue.pdf %}
 <a class="float-right" href="{{ issue.pdf.url}}" target="" class="noselect" download><i class="fa fa-download"></i> PDF</a>
{% endif %}
{% endblock %}



{% block meta_title %}
{{ issue }}
{% endblock %}

{% block main %}


{% with ads=issue.ads departments=issue.departments articles=issue.articles pictures=issue.pictures editions=issue.get_editions components=issue.get_components %}



<div class="row" id="main">
    <div class="small-12 medium-3 columns" data-sticky-container>
        <div class="sticky" data-sticky data-anchor="main">
            <div class="menu vertical ">
                <ul class="vertical tabs menu" data-tabs id="issue-nav">
                    <h2>In this issue</h2>
                    {% if departments %}
                    <li class="tabs-title is-active">
                        <a href="#departments">Departments <span>({{departments.count}})</span></a>
                    </li>
                    {% endif %}
                    {% if ads %}
                    <li class="tabs-title{% if not departments %} is-active{% endif %}">
                        <a href="#ads">Adverts <span>({{ ads.count }})</i></span></a>
                    </li>
                    {% endif %}
                    {% if pictures %}
                    <li class="tabs-title{% if not departments and not ads %} is-active{% endif %}">
                        <a href="#images">Pictures <span>({{pictures.count}})</i></span></a>
                    </li>
                    {% endif %}
                    {% if articles %}
                    <li class="tabs-title{% if not departments and not ads and not pictures %} is-active{% endif %}">
                        <a href="#text">Text <span>({{ articles.count}})</i></span></a>
                    </li>
                    {% endif %}
                    {% if editions %}
                     <h2 class="tabs-title">
                        <a href="#editions">Other Editions <span>({{ editions.count}})</i></span></a>
                    </h2>
                    {% endif %}
                    {% if components %}
                    <h2 class="tabs-title">
                        <a href="#components">Other Components <span>({{ components.count}})</i></span></a>
                    </h2>
                    {% endif %}
                     <h2 class="tabs-title">
                        <a href="#pages">Pages <span>({{ issue.number_of_pages }})</span></a>
                    </h2>
                </ul>
            </div>
        </div>
    </div>


    <div class="medium-9 columns tabs-content" data-tabs-content="issue-nav">
        {% if departments %}
        <div class="row margin-bottom tabs-panel is-active" id="departments">
            <div class="column">


            <h2 class="underline">Departments</h2>
            {% include "periodicals/includes/ocr_warning.html" %}
            </div>

            {% regroup departments by page as page_list %}
            {% for page in page_list %}
                {% for department in page.list %}
                    <div class="medium-2 columns">
                        {% if forloop.first %}
                        Page {{ page.grouper.get_label }}
                        {% endif %}
                    </div>
                    <div class="medium-10 columns margin-bottom">
                        <a href="{% url 'article-detail' publication_slug=department.page.issue.publication.slug issue_slug=department.page.issue.slug number=department.page.number article_slug=department.slug%}">
                            <img class="border" src="{% thumbnail department.title_image.url %}" alt="{{ department }}">
                        </a>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}


        {% if ads %}

        <div class="row margin-bottom tabs-panel{% if not departments %} is-active{% endif %}" id="ads">
        <div class="column">
        <h2 class="underline">Adverts</h2>
        {% include "periodicals/includes/ocr_warning.html" %}
        </div>
        {% include "periodicals/includes/issue_toc.html" with items=ads %}
        </div>
        {% endif %}

        {% if pictures %}
        <div class="row margin-bottom tabs-panel{% if not departments and not ads %} is-active{% endif %}" id="images">
        <div class="column">
        <h2 class="underline">Images</h2>
        {% include "periodicals/includes/pic_warning.html" %}
        </div>
        {% include "periodicals/includes/issue_toc.html" with items=pictures %}
        </div>
        {% endif %}

        {% if articles %}
        <div class="row margin-bottom tabs-panel{% if not departments and not ads and not pictures %} is-active{% endif %}" id="text">
        <div class="column">
        <h2 class="underline">Text</h2>
        {% include "periodicals/includes/ocr_warning.html" %}
        </div>
        {% include "periodicals/includes/issue_toc.html" with items=articles %}
        </div>
        {% endif %}


        {% if components %}
        <div class="row margin-bottom tabs-panel" id="components">
        <div class="column">
        <h2 class="underline margin-bottom">Other Components</h2>
        {% include "periodicals/includes/issue_gallery.html" with issues=components %}
        </div>
        </div>
        {% endif %}

        {% if editions %}
        <div class="row margin-bottom tabs-panel" id="editions">
        <div class="column">
        <h2 class="underline margin-bottom">Other Editions</h2>
        {% include "periodicals/includes/issue_gallery.html" with issues=editions %}
        </div>
        </div>
        {% endif %}

        <div class="row margin-bottom tabs-panel" id="pages">
        <div class="column">
        <h2 class="underline margin-bottom">Pages</h2>
        {% include "periodicals/includes/page_gallery.html" with pages=issue.pages.all %}
        </div>
        </div>

    </div>
</div>

{% endwith %}

{% endblock %}