{% extends 'base.html' %}

{% block title %}{{ page.publication }} {{ page.issue }}, Page {{ page.number }}{% endblock %}
{% block meta_title %}{{ page.publication }} {{ page.issue }}, Page {{ page.number }}{% endblock %}

{% block main %}
<div>
    <!-- This div is for testing! -->
    <a href="{{ page.issue.url }}">Back to issue</a>

    {% if page.previous_page %}
    <a href="{{ page.previous_page.url }}">Previous Page</a>
    {% endif %}

    {% if page.next_page %}
    <a href="{{ page.next_page.url }}">Next Page</a>
    {% endif %}

    <form action='.' method='get'>
        <input name='highlight' placeholder='text to highlight'><input type='submit'>
    </form>
</div>

<div>
    <canvas class="pageCanvas" data-image-id="page{{ page.number}}" width="{{ page.width }}" height="{{ page.height }}">
        <!-- Fallback for non-canvas supporting devices -->
        <img id="page{{ page.number}}" src="{{ page.image.url }}">
    </canvas>
</div>

<div class="columns is-multiline is-centered">
    {% for article in page.articles_in_page.all %}
    <div class="column is-half article" id="{{ article.aid }}">
        <h3 class="title">{{ article }}</h3>
        {{ article.content_html|safe }}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer_scripts %}
{% if highlight_words %}
<script>
var highlight_words = {{ highlight_words|safe }};
</script>
{% endif %}
{% endblock %}
