{% extends 'base.html' %}

{% block title %}
<h2>{{ page.publication }} {{ page.issue }}: Page {{ page.number }}</h2>
{% endblock %}

{% block main %}
<div>
    <!-- This div is for testing! -->
    <a href="{% url 'issue-detail' page.issue.publication.slug page.issue.slug %}">Back to issue</a>

    {% if page.previous_page %}
    <a href="{% url 'page-detail' page.issue.publication.slug page.issue.slug page.previous_page.number %}">Previous Page</a>
    {% endif %}

    {% if page.next_page %}
    <a href="{% url 'page-detail' page.issue.publication.slug page.issue.slug page.next_page.number %}">Next Page</a>
    {% endif %}

    <form action='.' method='get'>
        <input name='highlight' placeholder='text to highlight'><input type='submit'>
    </form>
</div>

<div>
    <canvas class="pageCanvas" data-image-id="page{{ page.number}}" width="{{ page.width }}" height="{{ page.height }}">
        <!-- Fallback for non-canvas supporting devices -->
        <img id="page{{ page.number}}" src="{{ page.image.url }}">
    </canvas>
</div>

<div>
    {% for article in page.articles_in_page.all %}
    <p id="{{ article.aid }}">
        {{ article.content }}
    </p>
    {% endfor %}
</div>
{% endblock %}

{% block footer_scripts %}
{% if highlight_words %}
<script>
var highlight_words = {{ highlight_words|safe }};
</script>
{% endif %}
{% endblock %}
