{% extends 'periodicals/base.html' %}
{% load periodicals_tags %}

{% block title %}
{{ page.issue.publication}}, {{ page.issue.issue_date }}: Page {{ page.number }}
{% endblock %}

{% block meta_title %}
{{ page.issue.publication}}, {{ page.issue.issue_date }}: Page {{ page.number }}
{% endblock %}

{% block main %}

<div class="row">
    <div class="small-12 columns minus-margin-top">
       <ul class="menu float-left">
        {% if request.GET.from == 'search'%}
        <li>
            <a href="{{ search_path}}" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to search results</a>
        </li>
        {% else %}
        <li>
            <a href="{{ page.issue.url }}" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to {{ page.issue.publication}}, {{ page.issue.issue_date }}</a>
        </li>
        {% endif %}
    </ul>
</div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class="tab_container subnav">

            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1">
                Image
            </label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2">
                Transcript
            </label>

            <input id="tab4" type="radio" name="tabs">
            <label for="tab4">
                Split view
            </label>

            <input id="tab3" type="radio" name="tabs">
            <label for="tab3">
                Issue Contents
            </label>


            <input id="tab5" type="radio" name="tabs">
            <label for="tab5">
                Citation
            </label>

            <section id="content1" class="tab-content">
                <ul class="menu float-right">
                    <li>
                        <a href="{{ page.print_url }}" target="_blank"><i class="fa fa-print" aria-hidden="true"></i> Print image</a>
                    </li>
                </ul>
                <ul class="accordion " data-accordion data-multi-expand="true" data-allow-all-closed="true">
                    <li class="accordion-item {% if article %}is-active{% endif %}" data-accordion-item>
                        <a href="#" class="accordion-title">Articles/Ads</a>
                        <div class="accordion-content" data-tab-content>

                            <table class="stack unstriped">
                                <tbody>
                                    {% for a in page.articles %}
                                    <tr {% if a == article %}class="is-active" {% endif %}>
                                        <td class="fixed"><a href="{% url 'article-detail' publication_slug=page.issue.publication.slug issue_slug=page.issue.slug number=page.number article_slug=a.slug%}">{{ a.article_type }}</a></td>

                                        <td ><a href="{% url 'article-detail' publication_slug=page.issue.publication.slug issue_slug=page.issue.slug number=page.number article_slug=a.slug%}">{% if a.title %}{{ a.title }}{% else %}Untitled{% endif %}</a>
                                        </td>

                                        <td class="article-pagination">
                                            {% if a.continuation_from %}
                                            <a href="{{ a.continuation_from.url }}" class="pull-left">&larr;</a>
                                            {% endif %}
                                            <span>
                                                Page <strong>{{ a.get_position_in_article }}</strong> of {{ a.get_number_of_pages }}</span>

                                                {% if a.continuation_to %}
                                                <a href="{{ a.continuation_to.url }}" class="pull-right">&rarr;</a>
                                                {% endif %}
                                            </td>
                                            <td class="fixed">
                                             <a href="{{ article.print_url }}" target="_blank"><i class="fa fa-print" aria-hidden="true"></i></a>
                                         </td>
                                     </tr>
                                     {% endfor %}

                                 </tbody>
                             </table>

                         </div>
                     </li>
                 </ul>
                 <canvas class="pageCanvas border" data-image-id="page{{ page.number}}" width="{{ page.width }}" height="{{ page.height }}">
                    {% comment %} Fallback for non-canvas supporting devices {% endcomment %}
                    <img id="page{{ page.number}}" src="{{ page.image.url }}" alt="Page {{ page.number}}">
                </canvas>
            </section>

            <section id="content2" class="tab-content">
                <div class="callout" data-closable>
                    <p>
                        <strong>Note:</strong> This text has been automatically extracted via Optical Character Recognition (OCR) software.
                    </p>
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <i aria-hidden="true" class="fa fa-times-circle"></i>
                    </button>
                </div>

                {% for article in page.articles_in_page.all %}
                <div id="{{ article.aid }}">
                    <h3 class="subtitle">{{ article|title }}</h3>
                    {{ article.content_html|safe }}
                </div>
                {% endfor %}
            </section>

            <section id="content5" class="tab-content" >
                “{{ page.issue }}, Page {{ page.number }}” <i>{{ PROJECT_TITLE }}</i>, #TODO: CITATION_INFO,  {% now "j N Y" %}, {{ request.META.HTTP_HOST }}{{ page.url }}.
            </section>

            <section id="content3" class="tab-content">
                <div class="tabs" data-tabs id="issue-tabs">
                    <ul class="menu float-right">
                        <li class="tabs-title is-active">
                            <a href="#list" role="option" aria-selected="true"><i class="fa fa-list-ul" aria-hidden="true"></i> List</a>
                        </li>
                        <li class="tabs-title">
                            <a href="#grid" role="option" data-tabs-target="grid"><i class="fa fa-th" aria-hidden="true"></i> Grid</a>
                        </li>
                    </ul>
                </div>

                <div class="tabs-content" data-tabs-content="issue-tabs">
                    <section class="tabs-panel is-active" id="list">
                        <div class="row">
                            <div class="small-12 columns">
                                <table class="stack unstriped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th>Page</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% regroup page.issue.articles_and_ads by page as page_list %}

                                        {% for page in page_list %}
                                        {% for a in page.list %}
                                        <tr>
                                            <td class="title"><a href="{% url 'article-detail' publication_slug=page.grouper.issue.publication.slug issue_slug=page.grouper.issue.slug number=page.grouper.number article_slug=a.slug%}">{% if a.title %}{{ a.title }}{% else %}Untitled{% endif %}</a></td>
                                            <td class="fixed add-comma"><a href="{% url 'article-detail' publication_slug=page.grouper.issue.publication.slug issue_slug=page.grouper.issue.slug number=page.grouper.number article_slug=a.slug%}">{{ a.article_type }}</a></td>
                                            <td class="fixed add-page"><a href="{% url 'article-detail' publication_slug=page.grouper.issue.publication.slug issue_slug=page.grouper.issue.slug number=page.grouper.number article_slug=a.slug%}">{{ page.grouper.number }}</a></td>
                                        </tr>
                                        {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>

                    <section class="tabs-panel" id="grid">
                        <div class="row medium-up-2 large-up-3 container equalize-me-again" data-equalizer="cards" data-equalize-by-row="true" data-equalize-on="medium">
                            {% for page in page.issue.pages.all %}
                            <div class="column column-block">
                                <a href="{{ page.url }}">
                                    <div class="card" data-equalizer-watch="cards">
                                        <div class="card-image">
                                            <img src="{% thumbnail page.image.url %}" alt="Page {{ page.number }}">
                                        </div>
                                        <div class="card-section overlay">
                                            <h3>Page {{ page.number }}</h3>
                                            <div class="card-footer">
                                               {% if page.number_of_articles == 1 %}
                                               1 Article
                                               {% else %}
                                               {{ page.number_of_articles }} Articles
                                               {% endif %}
                                           </div>
                                       </div>
                                   </div>
                               </a>
                           </div>
                           {% endfor %}
                       </div>
                   </section>
               </div>
           </section>

           <section id="content4" class="tab-content">
            <div class="row large-up-2">
                <div class="column column-block" >
                    <div class="row">
                        <div class="small-12 columns">
                            <canvas class="pageCanvas border" data-image-id="page{{ page.number}}" width="{{ page.width }}" height="{{ page.height }}">
                                {% comment %} Fallback for non-canvas supporting devices {% endcomment %}
                                <img id="page{{ page.number}}" src="{{ page.image.url }}" alt="Page {{ page.number}}">
                            </canvas>
                        </div>
                    </div>
                </div>

                <div class="column column-block">
                    <div class="callout" data-closable>
                        <p> <strong>Note:</strong> This text has been automatically extracted via Optical Character Recognition (OCR) software.
                        </p>
                        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                            <i aria-hidden="true" class="fa fa-times-circle"></i>
                        </button>
                    </div>

                    {% for article in page.articles_in_page.all %}
                    <div id="{{ article.aid }}">
                        <h3 class="subtitle">{{ article|title }}</h3>
                        {{ article.content_html|safe }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</div>
</div>

<div class="row">
    <div class="small-12 columns">
        {% with publication=page.issue.publication issue=page.issue page=page %}
        {% include 'periodicals/includes/pagination.html' %}
        {% endwith %}
    </div>
</div>

{% endblock %}

{% block footer_scripts %}
{% if highlight_words %}
<script>
var highlight_words = {{ highlight_words | safe }};
</script>
{% endif %} {% if article %}
<script>
var article_bounding_box = {{ article.get_real_bounding_box | safe }};
</script>
{% endif %}
{% endblock %}

