{% extends 'periodicals/base.html' %}
{% load periodicals_tags %}
{% load staticfiles %}


{% block meta_title %}
{{ publication }}
{% endblock %}

{% block title %}
{{ publication }}
{% endblock %}

{% block main %}

{% if publication.description %}
<section>
    <div class="row">
        <div class="small-12 columns">
            <h3>Description</h3>
            <div class="description-trunk">
                {{ publication.description | truncatewords_html:40 }}

                <a class="read-more" data-target="#description-full">Read more</a>
            </div>
            <div class="description-full" id="description-full">
                {{ publication.description }}
            </div>
        </div>
    </div>
</section>
{% endif %}



<section>
    <div class="row">
        <div class="small-12 columns">
            
            {% include "periodicals/includes/vis.html" with show_info=1 class="publication" %}
        </div>
    </div>
</section>





<!-- New template but no tags -->
<div class="row" id="main">
    <div class="medium-3 columns">

        <ul class="vertical menu" data-accordion  data-accordion-menu data-multi-open="false">
        {% if publication.headnotes_url %}
        <li><a class="menu Link" href="{{ publication.headnotes_url }}">About this publication</a></li>
        {% endif %}

        <h2>Years</h2>
            {% for year in publication.get_year_range %}
                {% with issues=publication|get_issues_by_year:year %}
                {% if issues %}
                <li >
                    <a href="{% url 'ajax-gallery-first-ed' slug=publication.slug year=year %}" class="ajax-trigger-year-switcher {% if forloop.first %} ajax-active {% endif %}" data-year="{{ year }}" >{{year}} </a>
                    <ul class="menu vertical">
                        {% regroup issues by issue_date as dates %}
                        {% for date in dates %}
                        <li>
                            <a href="#">{{ date.grouper }} <span>({{date.list|length}})</span></a>
                            <ul class="menu vertical">
                                {% for issue in date.list %}
                                <li {% if issue.edition != '1' %}class="lighten" {% endif %}><a href="{{issue.url}}">{{ issue.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endwith %}
            {% endfor %}
        </ul>
    </div>
    <!-- Cards -->
    <div class="medium-9 columns" id="ajax-target-gallery">

    {% include "periodicals/includes/issue_gallery.html" with issues=publication|get_first_issues_by_year:publication.year_from %}

    </div>
</div>



{% endblock %}
