{% extends 'periodicals/base.html' %}
{% load periodicals_tags %}

{% block meta_title %}
{{ publication }}
{% endblock %}

{% block title %}
{{ publication }}
{% endblock %}

{% block main %}

<div class="row">
    <div class="small-12 columns minus-margin-top">
        <ul class="menu float-left">
            <li>
                <a href="{% url 'publication-list' %}" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Explore</a>
            </li>
        </ul>
    </div>
</div>

{% if publication.description %}
<section>
    <div class="row">
        <div class="small-12 columns">
            <h3>Description</h3>
            <div class="description-trunk">
                {{ publication.description | truncatewords_html:40 }}

                <a class="read-more" data-target="#description-full">Read more</a>
            </div>
            <div class="description-full" id="description-full">
                {{ publication.description }}
            </div>
        </div>
    </div>
</section>
{% endif %}


<!-- New template but no tags -->
<div class="row" id="main">
    <div class="small-12 medium-3 columns" data-sticky-container>
    <h2>Years</h2>
        <div class="sticky" data-sticky data-anchor="main">
            <div class="menu vertical" data-magellan>
                <ul class="multilevel-accordion-menu vertical menu" data-accordion-menu>
                    <li>
                        <a href="#">1861 <span>(12 issues)</span></a>
                        <ul class="menu vertical sublevel-1">
                            <li>
                                <a href="#">April 1st</a>
                                <ul class="menu vertical sublevel-2">
                                    <li><a class="subitem" href="">Main Edition</a></li>
                                    <li><a class="subitem" href="">Scottish Edition</a></li>
                                    <li><a class="subitem" href="">Component</a></li>
                                </ul>
                            </li>
                            <li>
                            <a href="">May 1st</a>
                                <ul class="menu vertical sublevel-2">
                                    <li><a class="subitem" href="">Main Edition</a></li>
                                    <li><a class="subitem" href="">Scottish Edition</a></li>
                                    <li><a class="subitem" href="">Component</a></li>
                                </ul>
                            </li>
                            <li><a class="subitem" href="#a7">June 1st</a></li>
                            <li><a class="subitem" href="#a8">July 1st</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#a9">1862 <span>(12 issues)</span></a>
                        <ul class="menu vertical sublevel-1">
                            <li><a class="subitem" href="#a9">January 1</a></li>
                            <li><a class="subitem" href="#a10">February 1</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">1863 <span>(8 issues)</span></a>
                        <ul class="menu vertical sublevel-1">
                            <li><a class="subitem" href="#">January 1</a></li>
                            <li><a class="subitem" href="#">February 1</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">1864 <span>(10 issues)</span></a>
                        <ul class="menu vertical sublevel-1">
                            <li>
                                <a href="#">January 1</a>
                                <ul class="menu vertical sublevel-2">
                                    <li><a class="subitem" href="#">Edition 1</a></li>
                                    <li><a class="subitem" href="#">Edition 2</a></li>
                                </ul>
                            </li>
                            <li><a class="subitem" href="#">February 1</a></li>
                            <li><a class="subitem" href="#">March 1</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="medium-9 columns">
        <div class="row small-up-2 medium-up-3 large-up-4" data-equalizer="cards" data-equalize-by-row="true" data-equalize-on="medium" data-resize="cards" data-mutate="cards" data-e="8orhbx-e">
            <div class="column column-block" data-equalizer-watch="cards" style="height: 418px;">
                <div class="card" id="a1" data-magellan-target="a1">
                    <a href="/periodicals/ewj/issues/ewj_01031861/">
                        <div class="card-image">
                            <img src="/static/media/periodicals/041-EWJ-1861-03-01-001-SINGLE/Pg001.png" alt="English Woman’s Journal (1858-1864)">
                        </div>
                        <div class="card-section overlay">
                            <h3 class="small-caps">English Woman’s Journal (1858-1864)</h3>
                            <h3 class="small-caps">March 1, 1861</h3>
                            <div class="card-footer">
                                101 Items, 72 Pages
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column column-block" data-equalizer-watch="cards" style="height: 418px;">
                <div class="card" id="a2" data-magellan-target="a2">
                    <a href="/periodicals/ewj/issues/fewj_01031861/">
                        <div class="card-image">
                            <img src="/static/media/periodicals/041-FEWJ-1861-03-01-001-SINGLE/Pg001.png" alt="English Woman’s Journal (1858-1864)">
                        </div>
                        <div class="card-section overlay">
                            <h3 class="small-caps">English Woman’s Journal (1858-1864)</h3>
                            <h3 class="small-caps">March 1, 1861</h3>
                            <h3 class="small-caps">Front matter</h3>
                            <div class="card-footer">
                                8 Items, 4 Pages
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column column-block" data-equalizer-watch="cards" style="height: 418px;">
                <div class="card" id="a3" data-magellan-target="a3">
                    <a href="/periodicals/ewj/issues/ewj_01031861/">
                        <div class="card-image">
                            <img src="/static/media/periodicals/041-EWJ-1861-03-01-001-SINGLE/Pg001.png" alt="English Woman’s Journal (1858-1864)">
                        </div>
                        <div class="card-section overlay">
                            <h3 class="small-caps">English Woman’s Journal (1858-1864)</h3>
                            <h3 class="small-caps">March 1, 1861</h3>
                            <div class="card-footer">
                                101 Items, 72 Pages
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column column-block" data-equalizer-watch="cards" style="height: 418px;">
                <div class="card" id="a4" data-magellan-target="a4">
                    <a href="/periodicals/ewj/issues/fewj_01031861/">
                        <div class="card-image">
                            <img src="/static/media/periodicals/041-FEWJ-1861-03-01-001-SINGLE/Pg001.png" alt="English Woman’s Journal (1858-1864)">
                        </div>
                        <div class="card-section overlay">
                            <h3 class="small-caps">English Woman’s Journal (1858-1864)</h3>
                            <h3 class="small-caps">March 1, 1861</h3>
                            <h3 class="small-caps">Front matter</h3>
                            <div class="card-footer">
                                8 Items, 4 Pages
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column column-block" data-equalizer-watch="cards" style="height: 418px;">
                <div class="card" id="a5" data-magellan-target="a5">
                    <a href="/periodicals/ewj/issues/ewj_01031861/">
                        <div class="card-image">
                            <img src="/static/media/periodicals/041-EWJ-1861-03-01-001-SINGLE/Pg001.png" alt="English Woman’s Journal (1858-1864)">
                        </div>
                        <div class="card-section overlay">
                            <h3 class="small-caps">English Woman’s Journal (1858-1864)</h3>
                            <h3 class="small-caps">March 1, 1861</h3>
                            <div class="card-footer">
                                101 Items, 72 Pages
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column column-block" data-equalizer-watch="cards" style="height: 418px;">
                <div class="card" id="a6" data-magellan-target="a6">
                    <a href="/periodicals/ewj/issues/fewj_01031861/">
                        <div class="card-image">
                            <img src="/static/media/periodicals/041-FEWJ-1861-03-01-001-SINGLE/Pg001.png" alt="English Woman’s Journal (1858-1864)">
                        </div>
                        <div class="card-section overlay">
                            <h3 class="small-caps">English Woman’s Journal (1858-1864)</h3>
                            <h3 class="small-caps">March 1, 1861</h3>
                            <h3 class="small-caps">Front matter</h3>
                            <div class="card-footer">
                                8 Items, 4 Pages
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column column-block" data-equalizer-watch="cards" style="height: 418px;">
                <div class="card" id="a7" data-magellan-target="a7">
                    <a href="/periodicals/ewj/issues/ewj_01031861/">
                        <div class="card-image">
                            <img src="/static/media/periodicals/041-EWJ-1861-03-01-001-SINGLE/Pg001.png" alt="English Woman’s Journal (1858-1864)">
                        </div>
                        <div class="card-section overlay">
                            <h3 class="small-caps">English Woman’s Journal (1858-1864)</h3>
                            <h3 class="small-caps">March 1, 1861</h3>
                            <div class="card-footer">
                                101 Items, 72 Pages
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column column-block" data-equalizer-watch="cards" style="height: 418px;">
                <div class="card" id="a8" data-magellan-target="a8">
                    <a href="/periodicals/ewj/issues/fewj_01031861/">
                        <div class="card-image">
                            <img src="/static/media/periodicals/041-FEWJ-1861-03-01-001-SINGLE/Pg001.png" alt="English Woman’s Journal (1858-1864)">
                        </div>
                        <div class="card-section overlay">
                            <h3 class="small-caps">English Woman’s Journal (1858-1864)</h3>
                            <h3 class="small-caps">March 1, 1861</h3>
                            <h3 class="small-caps">Front matter</h3>
                            <div class="card-footer">
                                8 Items, 4 Pages
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column column-block" data-equalizer-watch="cards" style="height: 418px;">
                <div class="card" id="a9" data-magellan-target="a9">
                    <a href="/periodicals/ewj/issues/ewj_01031861/">
                        <div class="card-image">
                            <img src="/static/media/periodicals/041-EWJ-1861-03-01-001-SINGLE/Pg001.png" alt="English Woman’s Journal (1858-1864)">
                        </div>
                        <div class="card-section overlay">
                            <h3 class="small-caps">English Woman’s Journal (1858-1864)</h3>
                            <h3 class="small-caps">March 1, 1861</h3>
                            <div class="card-footer">
                                101 Items, 72 Pages
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column column-block" data-equalizer-watch="cards" style="height: 418px;">
                <div class="card" id="a10" data-magellan-target="a10">
                    <a href="/periodicals/ewj/issues/fewj_01031861/">
                        <div class="card-image">
                            <img src="/static/media/periodicals/041-FEWJ-1861-03-01-001-SINGLE/Pg001.png" alt="English Woman’s Journal (1858-1864)">
                        </div>
                        <div class="card-section overlay">
                            <h3 class="small-caps">English Woman’s Journal (1858-1864)</h3>
                            <h3 class="small-caps">March 1, 1861</h3>
                            <h3 class="small-caps">Front matter</h3>
                            <div class="card-footer">
                                8 Items, 4 Pages
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Old code
{% regroup publication.issues.all by issue_date.year as year_list %}

<section class="tab-to-accordion">
    <div class="row">
        <div class="small-12 columns">
            <ul class="menu accordion tabs vertical" data-multi-expand="true" data-allow-all-closed="true" data-responsive-accordion-tabs="accordion medium-tabs">
                <li>
                    <h2>Years</h2>
                </li>
                {% for year, issues_in_year in year_list %}
                <li class="accordion-item {% if forloop.first%} is-active{% endif %}" data-accordion-item>
                    <a class="accordion-title" href="{{ publication.url }}{{ year }}">
                        {{year}} <span>({{issues_in_year|length}} issues)</span>
                    </a>


                    <div class="accordion-content" data-tab-content>
                        <div class="row small-up-2 large-up-3" data-equalizer="cards" data-equalize-by-row="true" data-equalize-on="medium" data-resize="cards" data-mutate="cards" data-e="8orhbx-e">
                            {% for issue in issues_in_year %}
                            <div class="column column-block" data-equalizer-watch="cards">
                                {% include "periodicals/includes/issue_card.html" %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </li>

                {% endfor %}
            </ul>
        </div>
    </div>
</section>
-->
{% endblock %}
