{% extends "base.html" %}

{% block title %}Publications{% endblock %}
{% block meta_title %}Publications | Explore{% endblock %}

{% block main %}
<div class="grid-container">
  <div class="grid-x grid-padding-x medium-up-2 large-up-4">
    {% for publication in publications %}
    <div class="cell">
      <div class="card">
        <div class="card-divider">
          <a href="{{ publication.url }}">
            {{ publication.abbreviation }}{% if publication.title %}:
            {{ publication.title }}{% endif %}
          </a>
        </div>
        <div class="card-section">
          {% with number_of_years=publication.get_number_of_years %}
          <p><strong>{{ number_of_years }}</strong> Year{{ number_of_years|pluralize }}</p>
          {% endwith %}
          {% with year_span=publication.get_year_span %}
          <p>{{ year_span.0 }} to {{ year_span.1 }}</p>
          {% endwith %}
          <p>{{ publication.issues.count }} Issues</p>
          <p>{{ publication.get_total_number_of_pages }} Pages</p>
        </div>
        {% if request.user.is_staff %}
        <div class="card-divider">
          <a href="/admin/periodicals/publication/{{ publication.id }}/change/" class="card-footer-item">Edit</a>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}