{% extends "base.html" %}


{% block meta_title %}
Browse Publications
{% endblock %}

{% block title %}
Browse Publications
{% endblock %}

{% block main %}
<section class="section">
    <div class="container">
        <div class="columns multiline">
            {% for publication in publications %}
            <div class="column is-one-quarter">
                <div class="card">
                  <header class="card-header">
                    <p class="card-header-title">
                      <a href="{{ publication.url }}">{{ publication.abbreviation }}</a>

                      {% if publication.description %} - <a href="{{ publication.url }}">{{ publication.description }}{% endif %}</a>
                    </p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      Contains {{ publication.issues.count }} issues.
                    </div>
                  </div>
                  {% if request.user.is_staff %}
                  <footer class="card-footer">
                    <a href="/admin/periodicals/publication/{{ publication.id }}/change/" class="card-footer-item">Edit</a>
                  </footer>
                  {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}