{% extends 'periodicals/../periodicals/base.html' %} {% load highlight %} {% block meta_title %}Search{% endblock %} {% block title %}Search {% endblock %}
{% block breadcrumbs %}
    <li><a href="/">Home</a></li>
    <li>Search</li>
{% endblock %}
{% block main %}
<section class="search">
    <div class="grid-container">
        <div class="grid-x  grid-padding-y large-up-3">
            <div class="cell form">
                <form method="get" action=".">

                {%  with field=form.q %}
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                {% endwith %}

                 {%  with field=form.mode %}
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                {% endwith %}

                {%  with field=form.start_year %}
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                {% endwith %}

                {%  with field=form.end_year %}
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                {% endwith %}

                {%  with field=form.order_by %}
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                {% endwith %}





                    <input class="button" type="submit" value="Search">
                </form>
            </div>
        </div>
    </div>
</section>
<div class="grid-container">
    <div class="grid-x">
        <div class="cell">
            <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Filters</a>
                    <div class="accordion-content" data-tab-content>
                        <div class="grid-x grid-padding-x medium-up-3">
                            {% for key, values in facets.fields.items %}
                            <div class="cell">
                                <h4>{{ key|capfirst }}</h4>
                                <ul>
                                    {% for item in values %}
                                    <li>
                                        <a href="?{{ form.data.urlencode }}&amp;selected_facets={{ key }}:{{ item.0|urlencode }}">{{ item.0 }}</a> ({{ item.1 }})
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid-x">
        <div class="cell">
            <h2>{{ paginator.count }} Results</h2>
        </div>
    </div>
    <!-- *** Original Table ***
    <div class="grid-x grid-padding-x medium-up-5 headings">
        <div class="cell">
            Article title
        </div>
        <div class="cell">
            Category
        </div>
        <div class="cell">
            Page
        </div>
        <div class="cell">
            Issue
        </div>
        <div class="cell">
            Publication
        </div>
    </div>
    {% for result in page_obj.object_list %}
    <div class="grid-x grid-padding-x medium-up-5 results-list">
        <div class="cell">
            <a href="{{ result.url }}?highlight={{ query }}">
                {% if result.title %}
                {{ result.title }}
                {% else %}
                {{ result.aid }}
                {% endif %}
            </a>
        </div>
        <div class="cell">
            {{ result.category }}
        </div>
        <div class="cell">
            <a href="{{ result.page_url }}?highlight={{ query }}">
                p. {{ result.page_number }}
            </a>
        </div>
        <div class="cell">
            <a href="{{ result.issue_url }}">{{ result.issue_date }}</a>
        </div>
        <div class="cell">
            <a href="{{ result.publication_url }}">{{ result.publication_abbreviation }}</a>
        </div>
    </div>
    {% if query %}
    <div class="cell">
        {% highlight result.text with query html_tag "strong" %}
    </div>
    {% endif %} {% empty %}
    <div class="cell">
        <p>No results found.</p>
    </div>
    {% endfor %}
    *** Original Table End *** -->
    <!-- *** New Table *** -->
    <div class="row">
        <div class="columns">
            <table class="stack unstriped">
                <thead>
                    <tr>
                        <th>
                            Publication
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Page
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Article title
                        </th>
                        <th>
                            <!-- *** Not sure how to add heading here *** -->
                            {% if result.title %} Extract {% else %} {% endif %}
                        </th>
                    </tr>
                </thead>
                {% for result in page_obj.object_list %}
                <tbody>
                    <tr>
                        <td>
                            <a href="{{ result.publication_url }}">{{ result.publication_abbreviation }}</a>
                        </td>
                        <td>
                            <a href="{{ result.issue_url }}">{{ result.issue_date }}</a>
                        </td>
                        <td class="float-left">
                            <a href="{{ result.page_url }}?highlight={{ query }}">
                {{ result.page_number }}
            </a>
                        </td>
                        <td>
                            {{ result.category }}
                        </td>


                        <td> <a href="{{ result.url }}?highlight={{ query }}">
                {% if result.title %}
                {{ result.title }}
                {% else %}
                {{ result.aid }}
                {% endif %}
            </a></td>
                        {% if query %}
                        <td class="paragraph">
                            {% highlight result.text with query html_tag "strong" %}
                        </td>
                        {% endif %} {% empty %}
                        <div class="cell">
                            <p>No results found.</p>
                        </div>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    <!-- *** New Table End *** -->
    <!-- *** Card *** -->
    <div class="grid-container data-equalizer">
        <div class="grid-x grid-padding-x small-up-2 medium-up-3 large-up-5">
            {% for result in page_obj.object_list %}
            <div class="cell">
                <div class="card data-equalizer-watch">
                    <div class="card-section">
                    <h2><a href="{{ result.publication_url }}">{{ result.publication_abbreviation }}</a></h2>
                    <a href="{{ result.issue_url }}">{{ result.issue_date }}</a>
                        <p><a href="{{ result.url }}?highlight={{ query }}">
                {% if result.title %}
                {{ result.title }}
                {% else %}
                {{ result.aid }}
                {% endif %}
            </a> </p>

                        {% if query %}
                        <div class="card-highlight">
                            <div class="cell">
                                {% highlight result.text with query html_tag "strong" %}
                            </div>
                        </div>
                         {% endif %}
                        <div class="card-footer">
                            {{ result.category }},
                        <a href="{{ result.page_url }}?highlight={{ query }}">
                p. {{ result.page_number }}
            </a>
                        </div>

                    </div>
                </div>
            </div>
            {% empty %}
            <div class="cell">
                <p>No results found.</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- *** Card End *** -->
    {% if page_obj.has_previous or page_obj.has_next %}
    <div class="grid-x">
        <div class="cell">
            <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                <li class="{% if page_obj.has_previous %}pagination-previous{% else %}pagination-previous disabled{% endif %}">
                    {% if page_obj.has_previous %}
                    <a href="?{{ form.data.urlencode }}&amp;page={{ page_obj.previous_page_number }}" aria-label="Previous page">
                    {% endif %}
                        Prev <span class="show-for-sr">page</span>
                    {% if page_obj.has_previous %}
                    </a> {% endif %}
                </li>
                <li class="{% if page_obj.has_next %}pagination-next{% else %}pagination-next disabled{% endif %}">
                    {% if page_obj.has_next %}
                    <a href="?{{ form.data.urlencode }}&amp;page={{ page_obj.next_page_number }}" aria-label="Next page">
                {% endif %}
                    Next <span class="show-for-sr">page</span>
                {% if page_obj.has_next %}
                </a> {% endif %}
                </li>
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}