

<style type="text/css">
    @import url("https://fonts.googleapis.com/css?family=Petrona");
    div{
      font-family: 'Petrona';
      text-align:center; 
      margin-top:2rem;
    }
    h3{
      color:#6898CC; 
      font-size:2.5rem; 
      line-height:1.5rem;
    }

    h4{
      color:#6898CC;
      font-size:1.5rem;
    }
    p{
      font-size:1.1rem;
    }
    p a{
      color:#6898CC;
    }
    p a:hover{
      color:#4E7299;
    }
    button{
      background-color:#6898CC;
      padding:1rem 2rem; 
      border: none;
      font-family: 'Petrona';
      text-transform: uppercase;
    }
    button a{
      color:#fff; 
      font-size:1.3rem; 
      text-decoration: none;
    }
    button:hover {
      background-color:#4E7299;
    }
</style>

<div>
  <h3>404</h3>
  <h4>Sorry, the page you were looking for was not found.</h4>
  <p>This might be because you typed in the web address incorrectly, or because this page is no longer available. Please return to the <a href=/">main site.</a></p><br>
  <button><a href="/">Home</a></button>
</div>
        
