

<style type="text/css">
    @import url("https://fonts.googleapis.com/css?family=Petrona");
    div{
      font-family: 'Petrona';
      text-align:center; 
      margin-top:2rem;
    }
    h3{
      color:#6898CC; 
      font-size:2.5rem; 
      line-height:1.5rem;
    }

    h4{
      color:#6898CC;
      font-size:1.5rem;
    }
    p{
      font-size:1.1rem;
    }
</style>

<div>
  <h3>500</h3>
  <h4>Sorry there is a server error, the system administrator has been notified</h4>
</div>
        
