{% load staticfiles compress periodicals_tags  %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block meta_title %}{% endblock %} | Masonic Periodicals</title>
  <meta name="author" content="King's Digital Lab">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" />
  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
  {% endcompress %}
</head>
<body>
  <nav>
    <!--<a href="{% url 'publication-list' %}">Publications</a>
    <a href="{% url 'search' %}?{% initial_search_parameters %}">Explore</a>-->
    {% include 'includes/navigation.html' %}
  </nav>
 <header>
  <a href="{% url 'search' %}?{% initial_search_parameters %}">Explore</a>
    {% include 'includes/header.html' %}

  </header>
  <main>
  <div class="columns">
  <div class="search column">
<h2>Search</h2>
    <div class="field">
        
        <div class="control">
            <input class="input" type="text" placeholder="e.g Alex Smith">
        </div>
    </div>
    <div class="control">
        <label class="radio">
            <input type="radio" name="answer"> All these words
        </label>
        <label class="radio">
            <input type="radio" name="answer"> Any of these words
        </label>
        <label class="radio">
            <input type="radio" name="answer"> Exact phrase
        </label>
    </div>
    <div class="field">
        <div class="select">
            <select>
                <option>Date range</option>
                <option>Slider and Calendar</option>
            </select>
        </div>
    </div>
    <div class="field">
        <div class="select">
            <select>
                <option>Publications</option>
                <option>List of publications</option>
            </select>
        </div>
    </div>
    <input class="button" type="submit" value="Search">

  </div>
  <div class="column">
   
<h2>Browse</h2>
    <div class="control">
        <label class="radio">
            <input type="radio" name="answer"> By Year
        </label>
        <label class="radio">
            <input type="radio" name="answer"> By Publication
        </label>
    </div>
  </div>
</div>
    {% block title %}{% endblock %}
    {% block main %}
    {% endblock %}
  </main>

  <footer class="footer">
    {% block footer %}
    {% include 'includes/footer.html' %}
    {% endblock %}
  </footer>

  {% compress js %}
  <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>

<!-- Bulma mobile navigation -->
<script> 
document.addEventListener('DOMContentLoaded', function() {

    // Get all "navbar-burger" elements
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(function($el) {
            $el.addEventListener('click', function() {

                // Get the target from the "data-target" attribute
                var target = $el.dataset.target;
                var $target = document.getElementById(target);

                // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                $el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

            });
        });
    }

});
</script>


  <script src="{% static 'js/main.js' %}"></script>
  {% endcompress %}

  {% block footer_scripts %}{% endblock %}

  {% compress js %}
  <script src="{% static 'js/google_analytics.js' %}"></script>
  <script>
  ga('create', '{{ GA_ID }}', 'auto');
  ga('send', 'pageview');
  </script>
  {% endcompress %}
</body>
</html>
