{% extends "cms/base.html" %}
{% load periodicals_tags %}

{% block main %}

<section class="grid-container">
    <div class="grid-x">
        <div class="cell">
        	<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			Explicabo enim quae perferendis quos beatae quis aliquid repudiandae, exercitationem eveniet deserunt magni harum pariatur molestias? Nemo numquam error optio nesciunt inventore vero iusto molestiae molestias illo, provident similique ratione commodi impedit mollitia soluta doloribus magni libero consequatur debitis.
			</p>
        </div>
    </div>
</section>

<section class="grid-container">
    <div class="grid-x">

        <div class="large-3 cell">
            <h2 class="underline">
        Search
    </h2>
        	{% quick_periodical_search_form %}
        </div>
        <div class="large-1 cell">
        </div>
                    
        <div class="large-8 cell">
        <h2 class="underline">
        Published this month
    </h2>
        	{% get_issues_published_today %}
			{% get_issues_published_this_month %}
        </div>
    </div>
</section>




{% endblock %}